<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auth Home</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1>Selamat datang</h1>

  <a href="/login"> Login </a>
  <a href="/signup"> Daftar </a>
</body>
</html>
